Repository deot/style: changes, and which lint-staged commands are due for each by the changed paths.
All: stylelint --fix, esw --ext '.js,.ts' --fix

.lintstagedrc.json:

{
  "*.scss": [
  	"stylelint --fix",
  	"git add"
  ],
  "src/**/*.{js,ts}": [
  	"esw --ext '.js,.ts' --fix",
  	"git add"
  ]
}

chore(release): publish
  CHANGELOG.md
  package.json
Due: none

chore: deps updated
  package.json
  pnpm-lock.yaml
Due: none

feat: safe-area & layout-full && small padding/margin
  DOCUMENT.md
  package.json
  src/outputs/line-height.scss
  src/outputs/margin.scss
  src/outputs/other.scss
  src/outputs/padding.scss
Due: stylelint --fix

feat: add work break all（line-*）
  __tests__/index.spec.ts
  src/mixins/common.scss
Due: stylelint --fix

feat: layout-full -> size-full
  DOCUMENT.md
  src/outputs/other.scss
Due: stylelint --fix

style: lint fix
  src/mixins/common.scss
Due: stylelint --fix

feat: fs-11 & pd/m-2/6
  DOCUMENT.md
  src/outputs/font-size.scss
  src/outputs/margin.scss
  src/outputs/padding.scss
Due: stylelint --fix

fix: dynamic size with rem, remove `font-size` set
  src/outputs/reset.scss
Due: stylelint --fix

feat: deprecation warning [if-function] & remove word-wrap
  .npmrc
  DOCUMENT.md
  __tests__/index.spec.ts
  __tests__/rem.spec.ts
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
  src/functions/helper.scss
  src/mixins/common.scss
  src/outputs/gen-mixins/margin.scss
  src/outputs/gen-mixins/padding.scss
  src/outputs/text.scss
  src/scripts/style.ts
  src/variables/default.scss
Due: stylelint --fix, esw --ext '.js,.ts' --fix

feat: white-space, break
  src/mixins/common.scss
Due: stylelint --fix

docs: add documentation site and restructure guides
  .github/workflows/ci.yml
  .github/workflows/release.yml
  404.html
  DOCUMENT.md
  README.md
  docs/DOCUMENT.md
  docs/getting-started.md
  docs/integration.md
  docs/playground.md
  docs/sass.md
  eslint.config.js
  index.html
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: none

chore(release): publish
  packages/index/CHANGELOG.md
  packages/index/package.json
  packages/unocss/CHANGELOG.md
  packages/unocss/package.json
Due: none

feat(unocss): add Sass-compatible global reset preflight
  docs/integration.md
  packages/unocss/README.md
  packages/unocss/__tests__/index.spec.ts
  packages/unocss/src/index.ts
  packages/unocss/src/preflights/index.ts
  packages/unocss/src/preflights/reset.ts
  packages/unocss/src/preflights/variables.ts
  packages/unocss/src/rules/color.ts
  packages/unocss/src/theme.ts
  packages/unocss/src/types.ts
Due: none

chore(release): publish
  packages/unocss/CHANGELOG.md
  packages/unocss/package.json
Due: none

feat(index,unocss): isolate deprecated classes behind a compatibility entry
  README.md
  docs/DOCUMENT.md
  docs/deprecated.md
  docs/getting-started.md
  docs/integration.md
  docs/unocss-mini.md
  index.html
  packages/index/README.md
  packages/index/__tests__/deprecated.spec.ts
  packages/index/__tests__/fixtures/deprecated.css
  packages/index/__tests__/fixtures/utilities.ts
  packages/index/__tests__/index.spec.ts
  packages/index/src/index.deprecated.scss
  packages/index/src/index.scss
  packages/index/src/outputs/border.scss
  packages/index/src/outputs/box-shadow.scss
  packages/index/src/outputs/deprecated.scss
  packages/index/src/outputs/flex.scss
  packages/index/src/outputs/float.scss
  packages/index/src/outputs/gen-mixins/flex.scss
  packages/index/src/outputs/gen-mixins/float.scss
  packages/index/src/outputs/gen-mixins/image.scss
  packages/index/src/outputs/image.scss
  packages/index/src/outputs/line-height.scss
  packages/index/src/outputs/other.scss
  packages/index/src/outputs/text.scss
  packages/unocss/README.md
  packages/unocss/__tests__/documentation.spec.ts
  packages/unocss/__tests__/index.spec.ts
  packages/unocss/__tests__/legacy.spec.ts
  packages/unocss/src/rules/border.ts
  packages/unocss/src/rules/box-shadow.ts
  packages/unocss/src/rules/flex.ts
  packages/unocss/src/rules/float.ts
  packages/unocss/src/rules/font-weight.ts
  packages/unocss/src/rules/image.ts
  packages/unocss/src/rules/line-height.ts
  packages/unocss/src/rules/other.ts
  packages/unocss/src/rules/size.ts
  packages/unocss/src/rules/text.ts
Due: stylelint --fix

feat(index,unocss): add Grid utilities and canonicalize flex shorthand
  README.md
  docs/DOCUMENT.md
  docs/integration.md
  packages/index/README.md
  packages/index/__tests__/index.spec.ts
  packages/index/src/index.scss
  packages/index/src/outputs/flex.scss
  packages/index/src/outputs/gen-mixins/grid.scss
  packages/index/src/outputs/grid.scss
  packages/unocss/README.md
  packages/unocss/__tests__/index.spec.ts
  packages/unocss/__tests__/legacy.spec.ts
  packages/unocss/src/rules/flex.ts
  packages/unocss/src/rules/grid.ts
  packages/unocss/src/rules/index.ts
  packages/unocss/src/rules/position.ts
Due: stylelint --fix

docs: split guides by package and start path
  .github/CONTRIBUTING.md
  .github/ISSUE_TEMPLATE.md
  README.md
  docs/DOCUMENT.md
  docs/getting-started.md
  docs/integration.md
  docs/playground.md
  docs/start/installation.md
  docs/start/integration.md
  docs/style/DOCUMENT.md
  docs/style/deprecated.md
  docs/style/reference-examples.md
  docs/unocss/DOCUMENT.md
  docs/unocss/mini.md
  index.html
  packages/index/README.md
  packages/unocss/README.md
  packages/unocss/__tests__/documentation.spec.ts
Due: none

feat(index,unocss): canonicalize size and flex class names
  README.md
  docs/DOCUMENT.md
  docs/integration.md
  packages/index/README.md
  packages/index/__tests__/index.spec.ts
  packages/index/src/outputs/border.scss
  packages/index/src/outputs/box-shadow.scss
  packages/index/src/outputs/flex.scss
  packages/index/src/outputs/float.scss
  packages/index/src/outputs/font-weight.scss
  packages/index/src/outputs/gen-mixins/flex.scss
  packages/index/src/outputs/gen-mixins/float.scss
  packages/index/src/outputs/other.scss
  packages/unocss/README.md
  packages/unocss/__tests__/index.spec.ts
  packages/unocss/__tests__/legacy.spec.ts
  packages/unocss/src/index.ts
  packages/unocss/src/rules/border.ts
  packages/unocss/src/rules/box-shadow.ts
  packages/unocss/src/rules/color.ts
  packages/unocss/src/rules/flex.ts
  packages/unocss/src/rules/float.ts
  packages/unocss/src/rules/font-size.ts
  packages/unocss/src/rules/gap.ts
  packages/unocss/src/rules/index.ts
  packages/unocss/src/rules/line-height.ts
  packages/unocss/src/rules/other.ts
  packages/unocss/src/rules/size.ts
  packages/unocss/src/rules/utils.ts
Due: stylelint --fix

feat(index): make deprecated CSS a standalone opt-in entry
  docs/DOCUMENT.md
  docs/deprecated.md
  docs/getting-started.md
  docs/integration.md
  packages/index/README.md
  packages/index/__tests__/deprecated.spec.ts
  packages/index/src/index.scss
  packages/index/src/outputs/deprecated.scss
  packages/index/src/outputs/gen-mixins/image.scss
  packages/index/src/outputs/image.scss
  packages/unocss/__tests__/legacy.spec.ts
Due: stylelint --fix

chore: upgrade @deot/docs and brand the docs site
  index.html
  package.json
  pnpm-lock.yaml
Due: none

feat(index): add remfix and optional --rem injection in useREM
  README.md
  docs/start/integration.md
  docs/style/reference-examples.md
  packages/index/README.md
  packages/index/__tests__/functions.spec.ts
  packages/index/__tests__/rem.spec.ts
  packages/index/src/functions/helper.scss
  packages/index/src/scripts/style.ts
  packages/index/src/variables/default.scss
Due: stylelint --fix

chore: ignore local pnpm store directory
  .gitignore
Due: none

fix(index): draw the hairline border with a halved border-width instead of transform scaling
  docs/style/DOCUMENT.md
  docs/style/reference-examples.md
  packages/index/__tests__/fixtures/deprecated.css
  packages/index/__tests__/index.spec.ts
  packages/index/src/mixins/common.scss
Due: stylelint --fix

fix(unocss): draw the hairline border with a halved border-width instead of transform scaling
  docs/unocss/DOCUMENT.md
  packages/unocss/__tests__/index.spec.ts
  packages/unocss/src/rules/border.ts
Due: none

chore: make lint pass and fix the lint:fix script
  package.json
  packages/index/src/variables/theme.scss
Due: stylelint --fix
